@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v4/QGYsz_wNahGAdqQ43Rh_fKDs.ttf) format('truetype');
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #120719;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
  color: #FCFDFF;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  color: #FCFDFF;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.header-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 30px 0;
  z-index: 1;
}
.header-section nav {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  font-size: 1.8rem;
}
.header-section nav a {
  color: #FCFDFF;
  text-decoration: none;
}
.video-wrapper {
  height: 100vh;
}
.top-container .header-section {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
#forestVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
h1 {
  font-size: 6rem;
}
.top-container .title-section {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  z-index: 1;
}
.top-container .title-section .title-button {
  background-color: #120719;
  color: #17B363;
  border-color: #17B363;
  opacity: 0.9;
  font-size: 1.6rem;
  margin-top: 32px;
  height: 6rem;
  width: 18rem;
  border-radius: 4px;
  cursor: pointer;
}
h2,
h4 {
  color: #17B363;
}
.contact {
  margin-top: 30px;
}
.top-content {
  margin-top: 50px 20px;
}
.paragraph-content {
  margin: 40px 0;
}
footer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
