// About


.top-container-about .header-section nav {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    font-size: 1.8rem;

    @media @mobile {
        justify-content: space-evenly;
        font-size: 1.4rem;
    }

    @media @mobileSmall {
        justify-content: flex-end;
    }

    a {
        color: @font-color;
        text-decoration: none;
    }
    
}

#forest-about {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%; 
    z-index: -1;
}