// About

.top-container-about .header-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 30px 0;
    z-index: 1;

    @media @tablet {
        margin: 10px 0;
    }

    @media @mobile {
        margin-top: 5px;
    }
}

.title-content {

    margin-top: 20rem;

    @media @tablet {
        margin-top: 10rem;
    }

    @media @mobile {
        margin-top: 5rem;
    }

    h1 {
        margin-top: 5rem;

        @media @tablet {
            margin-top: 10rem;
        }

        @media @mobile {
            margin-top: 7rem;
        }
    }

    p {
        margin-bottom: 27rem;
        font-size: 2rem;

        @media @tablet {}

        @media @mobile {
            font-size: 1.4rem;
            margin-bottom: 25rem;
        }

        @media @mobileSmall {
            margin-bottom: 5rem;
        }
    }
}

#forest-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    border-bottom: 1px solid @white;
}

.body-content-about {

    padding-top: 20rem;
    width: 100%;

    @media @tablet {
        padding-top: 5rem;
    }

    @media @mobile {
        padding-top: 0;
    }

    .content-section {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media @mobile {
            flex-direction: column;
            align-content: center;
            padding-bottom: 20px;
        }

        .text-content {
            width: 48%;

            p {
                font-size: 1.8rem;
            }

            @media @mobile {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }

        .img-content {
            width: 48%;
            display: flex;
            justify-content: flex-end;

            @media @mobile {
                justify-content: center;
                margin: 20px;
            }

            img {
                border-radius: 50%;
                height: 50%;
                width: 50%;
                border: 4px solid @green;
            }
        }

        .img-content-inverse {
            width: 48%;
            display: flex;
            justify-content: flex-start;

            @media @mobile {
                justify-content: center;
                margin: 20px;
            }

            img {
                border-radius: 50%;
                height: 50%;
                width: 50%;
                border: 4px solid @green;
            }
        }
    }


    .inverse-content {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media @mobile {
            flex-direction: column-reverse;
            align-content: center;
            padding-bottom: 20px;
        }

        .text-content {
            width: 48%;

            p {
                font-size: 1.8rem;
            }

            @media @mobile {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}