// Navigation Styles

.header-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 30px 0;
    z-index: 1;

    @media @mobile {
        height: 40px;
        margin: 0;
        margin-top: 30px;
    }
}
.header-section nav {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    font-size: 1.8rem;

    @media @mobile {
        justify-content: flex-end;
    }

    a {
        color: @font-color;
        text-decoration: none;
    }
    
}

#dMap, #aboutUs, #getInContact {
    @media @mobile {
        display: none;
    }
}