// Navigation Styles

.header-section nav {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    font-size: 1.8rem;

    @media @mobile {
        justify-content: space-evenly;
        font-size: 1.4rem;
    }

    @media @mobileSmall {
        justify-content: flex-end;
    }

    a {
        color: @font-color;
        text-decoration: none;
    }
    
}

#dMap, #aboutUs, #getInContact {
    @media @mobileSmall {
        display: none;
    }
}