// Navigation Styles

.header-section nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    font-size: 1.8rem;

    @media @mobile {
        justify-content: space-evenly;
        font-size: 1.4rem;
    }

    @media @mobileSmall {
        font-size: 1.2rem;
    }

    a {
        color: @font-color;
        text-decoration: none;
    }

}