// Page Styles


h1 {
    font-size: 6rem;

    @media @tablet {
        font-size: 4rem;
    }

    @media @mobile {
        font-size: 3rem;
    }
}

.top-container {

    .title-section {
        position: relative;
        width: 100%;
        height: 70vh;
        overflow: hidden;
        z-index: 1;

        @media @tablet {
            height: 45vh;
        }

        @media @mobile {
            height: 45vh;
        }

        @media @mobileSmall {
            height: 25vh;
        }

        .title-button {
            background-color: @dark-purple;
            color: @green;
            border-color: @green;
            opacity: 0.9;
            font-size: 1.6rem;
            margin-top: 32px;
            height: 6rem;
            width: 18rem;
            border-radius: 4px;
            cursor: pointer;

            @media @mobile {
                height: 4rem;
                width: 14rem;
                font-size: 1.4rem;
            }
        }
    }
}

h2, h4 {
    color: @green;
}

.body-content {
    max-width: 1000px;
    margin: 0 auto;

    .top-content {
        margin-top: 50px 20px;

    }

    .left-paragraph {
        display: flex;
        align-items: center;
        //justify-content: space-around;
        margin: 7rem 0;

        @media @mobile {
            flex-direction: column;
        }

        .paragraph-content {
            text-align: justify;

            p {
                @media @mobile {
                    max-width: 100%;
                }
            }


        }

        .right-icon {
            margin-right: 15rem;

            @media @mobile {
                margin-right: 0;
            }
        }
    }

    .right-paragraph {
        display: flex;
        align-items: center;
        margin: 7rem 0;

        @media @mobile {
            flex-direction: column-reverse;
            align-content: center;
        }

        .paragraph-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: justify;

            p {
                @media @mobile {
                    max-width: 100%;
                }
            }

        }

        .left-icon {
            margin-left: 15rem;

            @media @mobile {
                margin-left: 0;
            }
        }
    }
}

footer p{
    width: 100%;
    margin-top: 10rem;

    @media @mobile {
        font-size: 1rem;
        margin-top: 5rem;
    }
}
