// Page Styles

.top-container .title-section {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: 1;

    .cta-text .title-button{
        background-color: transparent;
        color: @green;
        border: @green;
        font-weight: 600;
        font-size: 16px;
        margin-top: 32px;
    }

}