// Font assignment
@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans');

// Color assignments
@font-color: @white;
@header-color: @green;
@background-color: @dark-purple;
@button-color: @dark-purple;
@dark-purple: #120719;
@white: #FCFDFF;
@green: #17B363;

// Mobile - Small
@mobileSmall: ~"(max-width: 600px)";

// Mobile - Medium

@mobile: ~"(max-width: 840px)";

//Tablet

@tablet: ~"(max-width: 1040px)";