// Video Styles


.top-container .header-section {
    position: relative;
    width: 100%;
    //height: 30vh;
    overflow: hidden;
}

#forestVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
}